<div id="headerContainer" #header>
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-xs-12">
      <div class="row">
        <div class="col-8"><h5>Speed Reader</h5></div>
        <div class="col-4">
          <button *ngIf="slugWord!=''" id="stopButton" class="btn btn-danger" type="button" (click)="stopReader()">Stop</button>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="form-container" *ngIf="slugWord==''">
  <div class="cotainer">
      <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header">Configuration</div>
                  <div class="card-body">

                    <form [formGroup]="userInputForm" id="userInputForm" novalidate (ngSubmit)="generate()" autocomplete="off">

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Number of Words</label>
                        <div class="col-md-6 md-form">
                            <input type="number" matInput  name="numberOfWords" formControlName="numberOfWords" min="2000" class="form-control">
                            <div *ngIf="userInputForm?.touched">
                              <div class="error" *ngIf="userInputForm.controls['numberOfWords'].errors?.['pattern'] && userInputForm.controls['numberOfWords'].dirty">
                                  Minimum value should be 2000
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Words per Minute</label>
                        <div class="col-md-6">
                          <input type="number" name="wordsPerMinute" formControlName="wordsPerMinute" min="200" class="form-control">
                          <div *ngIf="userInputForm?.touched">
                            <div class="error" *ngIf="userInputForm.controls['wordsPerMinute'].errors?.['pattern'] && userInputForm.controls['wordsPerMinute'].dirty">
                                Minimum value should be 200
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 offset-md-4 md-form">
                        <button id="resetPsswordButton" [disabled]="!userInputForm.valid" class="btn btn-primary waves-effect waves-light" type="submit">Start</button>
                      </div>

                    </form>
              </div>
          </div>
      </div>
  </div>
</div>
</main>

<div #tileContainer class="tile" [ngStyle]="{'left': tileLeft, 'top': tileTop, 'background-color': randomRGB, 'visibility': slugWord=='' ? 'hidden' : 'visible'}">
  <span>{{slugWord}}</span>
</div>